<body>

    <div class="app-main">

        <!-- app wrapper start -->
        <div id="app-wrapper" class="app-wrapper d-flex flex-column align-items-stretch min-vh-100">

            <!-- app sidebar start -->
            <app-sidebar></app-sidebar>
            <!-- app sidebar end -->

            <!-- app header start -->
            <app-header></app-header>
            <!-- app header end -->

            <router-outlet></router-outlet>
            
            <!-- <div class="app-backdrop"></div> -->
            <!-- app content end -->
        </div>
        <!-- app wrapper end -->
    </div>
    <app-footer></app-footer>
</body>