  <!-- app content start -->
            <div class="app-content-wrapper pb-5">
                <div class="container ">
                    <div class="page-content">
                        <div class="py-5">
                            <div class="row align-items-center g-4">
                                <div class="col-md-4">
                                    <div class="d-flex align-items-center gap-1 tp-course-view-btn">
                                        <h3 class="fw-semibold mb-0 me-4">Tickets</h3>
                                        <button class="tp-course-toggle-btn active" type="button" data-value="grid"  
                                            [class.active]="viewMode() === 'grid'"
                                            (click)="setView('grid')">
                                            <svg width="14" height="14" viewBox="0 0 14 14" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                <path d="M5.66667 1H1V5.66667H5.66667V1Z" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"></path>
                                                <path d="M12.9997 1H8.33301V5.66667H12.9997V1Z" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"></path>
                                                <path d="M12.9997 8.33337H8.33301V13H12.9997V8.33337Z" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"></path>
                                                <path d="M5.66667 8.33337H1V13H5.66667V8.33337Z" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"></path>
                                            </svg>
                                        </button>
                                        <button class="tp-course-toggle-btn" data-value="list" type="button"
                                            [class.active]="viewMode() === 'list'"
                                            (click)="setView('list')"
                                        >
                                            <svg width="14" height="14" viewBox="0 0 16 15" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                <path d="M15 7.11108H1" stroke="currentColor" stroke-width="1" stroke-linecap="round" stroke-linejoin="round"></path>
                                                <path d="M15 1H1" stroke="currentColor" stroke-width="1" stroke-linecap="round" stroke-linejoin="round"></path>
                                                <path d="M15 13.2222H1" stroke="currentColor" stroke-width="1" stroke-linecap="round" stroke-linejoin="round"></path>
                                            </svg>
                                        </button>
                                    </div>
                                </div>
                                <div class="col-md-8">
                                    <div class="d-flex justify-content-md-end gap-2 mb-4">
                                        <div class="project-status-select">
                                            <select class="form-select" name="status" id="status">
                                                <option value="all">All</option>
                                                <option value="active">Active</option>
                                                <option value="completed">Completed</option>
                                                <option value="archived">Archived</option>
                                            </select>
                                        </div>
                                        <button (click)="openModal(null)" class="btn btn-orange">Nuevo Ticket</button>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row gx-6 gy-8"
                             [class.d-none]="viewMode() !== 'grid'"
                        >
                            @if(incidencias.isLoading()){
                                <div class="d-flex justify-content-center align-items-center col-md-12 col-sm-12">
                                    <p class="text-primary mb-0">Cargando...</p>
                                </div>
                            }
                            @if(incidencias.value()?.length == 0){
                                <div class="d-flex justify-content-center align-items-center col-md-12 col-sm-12">
                                    <p class="text-primary mb-0">No se encontraron registros</p>
                                </div>
                            }
                            @else{
                                @for (item of incidencias.value(); track item.publicId) {
                                    <div class="col-xxl-4 col-xl-6 col-lg-6">
                                        <div class="project-card card-bg text-center project-card-shadow">
                                            <div class="progress rounded-none height-4px" role="progressbar" aria-label="Basic example" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100">
                                                <div class="progress-bar bg-{{getEstadoClass(item.estado)}}" data-width="100%" style="width: 100%;"></div>
                                            </div>
                                            <div class="project-card-header px-6 mt-4 mb-3 d-flex justify-content-between align-items-center">
                                                <span class="badge badge-label-{{getEstadoClass(item.estado)}} fs-4">{{item.estado}}</span>
                                                <span class="h5 mb-0 fw-bold">{{item.sede}}</span>
                                                <div class="project-card-actions">
                                                    <button class="custom-card-action-btn" data-bs-toggle="dropdown" aria-expanded="false">
                                                        <svg width="4" height="14" viewBox="0 0 4 14" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                            <path d="M3.5 12.5165C3.5 12.9231 3.35278 13.272 3.05833 13.5632C2.76389 13.8544 2.41111 14 2 14C1.58889 14 1.23611 13.8544 0.941667 13.5632C0.647223 13.272 0.5 12.9231 0.5 12.5165C0.5 12.1099 0.647223 11.761 0.941667 11.4698C1.23611 11.1786 1.58889 11.033 2 11.033C2.27222 11.033 2.52222 11.1016 2.75 11.239C2.97778 11.3709 3.16111 11.5495 3.3 11.7747C3.43333 11.9945 3.5 12.2418 3.5 12.5165Z" fill="currentColor" />
                                                            <path d="M3.5 7C3.5 7.40659 3.35278 7.75549 3.05833 8.0467C2.76389 8.33791 2.41111 8.48352 2 8.48352C1.58889 8.48352 1.23611 8.33791 0.941667 8.0467C0.647223 7.75549 0.5 7.40659 0.5 7C0.5 6.59341 0.647223 6.24451 0.941667 5.9533C1.23611 5.66209 1.58889 5.51648 2 5.51648C2.27222 5.51648 2.52222 5.58517 2.75 5.72253C2.97778 5.8544 3.16111 6.03297 3.3 6.25824C3.43333 6.47802 3.5 6.72527 3.5 7Z" fill="currentColor" />
                                                            <path d="M3.5 1.48351C3.5 1.89011 3.35278 2.23901 3.05833 2.53022C2.76389 2.82143 2.41111 2.96703 2 2.96703C1.58889 2.96703 1.23611 2.82143 0.941667 2.53022C0.647223 2.23901 0.5 1.89011 0.5 1.48351C0.5 1.07692 0.647223 0.728022 0.941667 0.436812C1.23611 0.145604 1.58889 0 2 0C2.27222 0 2.52222 0.0686817 2.75 0.206044C2.97778 0.337913 3.16111 0.516483 3.3 0.741757C3.43333 0.961538 3.5 1.20879 3.5 1.48351Z" fill="currentColor" />
                                                        </svg>
                                                    </button>
                                                    <ul class="dropdown-menu dropdown-menu-end">
                                                            <a class="dropdown-item" href="#">CERRAR</a>
                                                            <a class="dropdown-item" href="#">REABRIR</a>
                                                            <a class="dropdown-item" href="#">ESCALAR</a>
                                                            <a class="dropdown-item" href="#">RESOLVER</a>
                                                            <a class="dropdown-item" href="#">ESTADO</a>
                                                    </ul>
                                                    <!-- <a href="#" class="btn btn-ghost-primary">View Details</a> -->
                                                </div>
                                            </div>
                                            <div class="project-card-body px-6 mb-8">
                                                <h4 class="h4 mb-1 mt-4">{{item.titulo}}</h4>
                                                <h6 class="h6 mb-1 text-custom-paragraph">Nro : {{item.numeroTicket}}</h6>
                                                <p>{{truncateByChars(item.descripcion,200)}}</p>
                                            </div>
                                            <div class="project-card-footer border-top px-5">
                                                <div class="row row-cols-1 row-cols-sm-3">
                                                    <div class="col text-center my-4">
                                                        <div class="border-end">
                                                            <h4 class="h6 mb-0">Registro</h4>
                                                            <p class="mb-0 text-custom-paragraph">{{item.fechaRegistro | date:'yyyy-MM-dd HH:mm'}}</p>
                                                        </div>
                                                    </div>
                                                    <div class="col text-center my-4">
                                                        <div class="border-end">
                                                            <h4 class="h6 mb-0">Categoria</h4>
                                                            <p class="mb-0 text-custom-paragraph">{{item.categoria}}</p>
                                                        </div>
                                                    </div>
                                                    <div class="col text-center my-4">
                                                        <div class="">
                                                            <h4 class="h6 mb-0">Prioridad</h4>
                                                            <p class="mb-0 text-{{getPriorityClass(item.prioridad)}}">{{item.prioridad}}</p>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="row pb-3">
                                                    <div class="col-md-6 col-sm-6">
                                                        <button class="btn btn-sm btn-outline-orange btn-block" style="width: 100%;" (click)="viewDetails(item.publicId)">Details</button>
                                                    </div>
                                                     <div class="col-md-6 col-sm-6">
                                                        <button class="btn btn-sm btn-outline-danger btn-block" style="width: 100%;">Delete</button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                }
                            }
                        </div>
                        <div class="row"
                            [class.d-none]="viewMode() !== 'list'"
                        >
                        <div class="">
                            <div class="table-responsive">
                                <table class="table">
                                    <thead>
                                        <tr>
                                            <th scope="col" class="text-custom-paragraph fw-medium">Nro.</th>
                                            <th scope="col" class="text-custom-paragraph fw-medium">Titulo</th>
                                            <th scope="col" class="text-custom-paragraph fw-medium">Estado</th>
                                            <th scope="col" class="text-custom-paragraph fw-medium">Categoria</th>
                                            <th scope="col" class="text-custom-paragraph fw-medium">Prioridad</th>
                                            <th scope="col" class="text-custom-paragraph fw-medium">Registro</th>
                                            <th scope="col" class="text-custom-paragraph fw-medium">Acciones</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                         @if(incidencias.isLoading()){
                                            <tr>
                                                <td colspan="7">
                                                    <div class="d-flex justify-content-center align-items-center col-md-12 col-sm-12">
                                                        <p class="text-primary mb-0">Cargando...</p>
                                                    </div>
                                                </td>
                                            </tr>
                                          
                                        }
                                        @if(incidencias.value()?.length == 0){
                                            <tr>
                                                <td colspan="7">
                                                    <div class="d-flex justify-content-center align-items-center col-md-12 col-sm-12">
                                                        <p class="text-primary mb-0">No se encontraron registros...</p>
                                                    </div>
                                                </td>
                                            </tr>
                                        }
                                        @else{
                                            @for (item of incidencias.value(); track item.publicId) {
                                                <tr>
                                                    <td>
                                                        <span class="text-custom-body">{{item.numeroTicket}}</span>
                                                    </td>
                                                    <td>
                                                        <span class="text-custom-body">{{item.titulo}}</span>
                                                    </td>
                                                    <td>
                                                        <span class="text-custom-body">{{item.estado}}</span>
                                                    </td>
                                                    <td>
                                                           <span class="text-custom-body">{{item.categoria}}</span>
                                                    </td>
                                                     <td>
                                                           <span class="text-custom-body">{{item.prioridad}}</span>
                                                    </td>
                                                        <td>
                                                           <span class="text-custom-body">{{item.fechaRegistro | date:'yyyy-MM-dd HH:mm'}}</span>
                                                    </td>
                                                    <td>
                                                        <div class="d-flex align-items-center">
                                                            <button class="btn btn-sm btn-outline-primary btn-block me-2" style="width: 100%;" (click)="viewDetails(item.publicId)" data-bs-toggle="tooltip" data-bs-placement="top" data-bs-original-title="Details">
                                                               Details
                                                            </button>
                                                            <button class="btn btn-sm btn-outline-danger btn-block" style="width: 100%;" data-bs-toggle="tooltip" data-bs-placement="top" data-bs-original-title="Delete">
                                                                Delete
                                                            </button>
                                                        </div>
                                                    </td>
                                                </tr>
                                            }
                                        }

                                    </tbody>
                                </table>
                            </div>
                            <!-- <div class="d-flex justify-content-end mt-4">
                                <nav aria-label="Page navigation example">
                                    <ul class="pagination">
                                        <li class="page-item"><a class="page-link" href="#">Previous</a></li>
                                        <li class="page-item"><a class="page-link" href="#">1</a></li>
                                        <li class="page-item"><a class="page-link" href="#">2</a></li>
                                        <li class="page-item"><a class="page-link" href="#">3</a></li>
                                        <li class="page-item"><a class="page-link" href="#">Next</a></li>
                                    </ul>
                                </nav>
                            </div> -->
                        </div>
                    </div>
                        <div class="row mt-9 align-items-center">
                            <div class="col-md-4">
                                <p class="mb-0">Showing 1 to 8 of 8 entries</p>
                            </div>
                            <div class="col-md-8">
                                <nav class="d-flex justify-content-end">
                                    <ul class="custom-pagination m-0">
                                        <li class="disabled">
                                            <a class="" href="#">Previous</a>
                                        </li>
                                        <li class="">
                                            <a class="" href="#">1</a>
                                        </li>
                                        <li class="active">
                                            <a class="" href="#">2</a>
                                        </li>
                                        <li class="">
                                            <a class="" href="#">3</a>
                                        </li>
                                        <li class="">
                                            <a class="" href="#">Next</a>
                                        </li>
                                    </ul>
                                </nav>
                            </div>
                        </div>
                    </div><!-- page content end -->

                </div>
            </div><!-- app content end -->
@if(modalAbierto()){
    <div class="modal-backdrop fade show"></div>
    <app-ticket-add-edit
        [incidencia]="null"
        (guardado)="onGuardado($event)"
        (cerrado)="modalAbierto.set(false)"
    ></app-ticket-add-edit>
}